[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "==2.0.34"
pyodbc = "==5.1.0"
flask = "==3.0.2"
python-dotenv = "==1.0.1"
waitress = "==3.0.0"
faker = "*"
flask-jsonpify = "==1.5.0"
flask-marshmallow = "==1.2.1"
pika = "==1.3.2"
flask-cors = "==5.0.0"

[dev-packages]

[requires]
python_version = "3.12"
